@use '../base/mixins' as m;
@use '../base/variable' as v;

.acciones{
margin-top: 5rem;
text-align: center;

p{
    margin: 0;
}
@include m.tablet {
    display:flex;
    justify-content:space-between
}
a{
    align-self: center;
    margin-bottom: 2rem;
    color: v.$negro;
    font-size: 1.8rem;
    &:last-of-type{
        margin-bottom: 0;
    }
}
}